<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<h2>Pregunta de <%= quiz.tema%></h2> <br>
	<h3><%= quiz.pregunta%></h3>
	<input type='text' name='respuesta' autofocus placeholder='Responda aqui...'/>
  <input type="submit" value="Enviar">
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>


<p><strong>Comentarios:</strong></p>
<table>
<% for(index in quiz.Comments){ %>
	<% if(quiz.Comments[index].publicado || session.user) { %>
		<tr>
			<td><%= quiz.Comments[index].texto %></td>
			<% if(session.user && !quiz.Comments[index].publicado) { %>
				<td><a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish">
					<button>Publicar</button></a></td>
			</tr>
		<% } %>
	<% } %>
<% } %>
</table>
