<h2>Estadisticas de las preguntas</h2>
<table id='static'>
	<tr><td>Número de Preguntas: </td><td><%= statics.nQuizes %></td></tr>
	<tr><td>Número de comentarios totales: </td><td><%=statics.nComments %></td></tr>
	<tr><td>Número medio de comentarios por pregunta: </td><td><%=statics.avComments %></td></tr>
	<tr><td>Número de preguntas sin comentarios: </td><td><%=statics.noComments %></td></tr>
	<tr><td>Número de preguntas con comentarios: </td><td><%=statics.withComments %></td></tr>
</table>
